@@ -35,10 +35,8 @@
 !.stylelintrc.js
 !.twig-cs-fixer.php
 !auth.json
-!behat.yml
 !composer.json
 !composer.lock
-!gherkinlint.json
 !package-lock.json
 !package.json
 !patches
@@ -45,7 +43,6 @@
 !phpcs.xml
 !phpmd.xml
 !phpstan.neon
-!phpunit.xml
 !postcss.config.js
 !rector.php
 !scripts
