@@ -32,10 +32,8 @@
 !.sass-lint.yml
 !.stylelintrc.js
 !.twig-cs-fixer.php
-!gherkinlint.json
 !Gruntfile.js
 !auth.json
-!behat.yml
 !composer.json
 !composer.lock
 !yarn.lock
@@ -47,7 +45,6 @@
 !phpcs.xml
 !phpmd.xml
 !phpstan.neon
-!phpunit.xml
 !rector.php
 !scripts
 !tests
