@@ -38,6 +38,10 @@
 # Theme build assets are compiled during the image build.
 web/themes/**/build
 
+# Storybook stories and application are compiled during provisioning.
+web/themes/**/*.stories.json
+web/themes/**/storybook-static
+
 # Caches, data, logs and temporary artifacts.
 **/.artifacts
 **/.data
