@@ -48,6 +48,10 @@
 # Theme build assets.
 web/themes/**/build
 
+# Storybook stories and application compiled from the theme sources.
+web/themes/**/*.stories.json
+web/themes/**/storybook-static
+
 # Caches, data, logs and temporary artifacts.
 .artifacts
 .data
