# To ignore OS temporary files use global .gitignore
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

# Ignore Drupal docroot, but preserve custom modules, themes and settings.
docroot/*
!docroot/sites/
docroot/sites/*
!docroot/modules/
docroot/modules/*
!docroot/modules/custom/
!docroot/themes/
docroot/themes/*
!docroot/themes/custom/
!docroot/profiles/
docroot/profiles/*
!docroot/profiles/custom/
!docroot/sites/default/
docroot/sites/default/*
!docroot/sites/default/settings.php
!docroot/sites/default/services.yml
#;< DRUPAL-DEV
!docroot/sites/default/default.settings.local.php
!docroot/sites/default/default.services.local.yml
#;> DRUPAL-DEV

# Ignore dependencies cache files.
vendor
node_modules

# Assets.
docroot/themes/**/build
screenshots
.data

.env.local
docker-compose.override.yml
