# Ignore files for distribution archives.
/.gitattributes                         export-ignore
/install.sh                             export-ignore
/tests/bats                             export-ignore
/.circleci/drevops-test.sh              export-ignore
/.circleci/drevops-test-deployment.sh   export-ignore
