# To ignore OS temporary files use global .gitignore
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

# Ignore Drupal docroot, but preserve custom modules, themes and settings.
# To add an override file, explicitly un-ignore it below and add to the
# repository (useful for robots.txt and .htaccess file overrides).

#; To simplify maintenance of Drupal-Dev, we support only 'docroot' $DOCROOT
#; defined explicitly here.
#; @todo: Add support for renamed $DOCROOT.
#;
#; $DOCROOT is 'docroot'.
docroot/*
!docroot/sites/
docroot/sites/*
!docroot/modules/
docroot/modules/*
!docroot/modules/custom/
!docroot/themes/
docroot/themes/*
!docroot/themes/custom/
!docroot/profiles/
docroot/profiles/*
!docroot/profiles/custom/
!docroot/sites/default/
docroot/sites/default/*
!docroot/sites/default/settings.php
!docroot/sites/default/services.yml
!docroot/sites/default/default.settings.local.php
!docroot/sites/default/default.services.local.yml
# Preserve default settings files to use them in Functional test.
!docroot/sites/default/default.settings.php
!docroot/sites/default/default.services.yml
# Whitelist scaffold files. @see https://github.com/drupal-composer/drupal-scaffold#limitation
!docroot/.editorconfig
!docroot/.eslintignore
!docroot/.gitattributes
!docroot/.htaccess
!docroot/autoload.php
!docroot/index.php
!docroot/robots.txt
!docroot/update.php

#;< DRUPAL-DEV
#; Ignore these files in Drupal-Dev itself, but do not ignore in consumer site.
composer.lock
package-lock.json
#;> DRUPAL-DEV

# Ignore dependencies cache files.
vendor
node_modules

# Assets.
docroot/themes/**/build
screenshots
.data

# Ignore local override files.
docker-compose.override.yml
