##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#
# Note that drupal-specific rules are automatically included by phpstan/extension-installer
# from vendor/mglaman/phpstan-drupal/extension.neon and vendor/mglaman/phpstan-drupal/rules.neon
# @see https://github.com/mglaman/phpstan-drupal
#
# Paths are passed as CLI arguments.

parameters:

  level: 7

  phpVersion: 80324

  paths:
    - web/modules/custom
    - web/themes/custom
    - web/sites/default/settings.php
    - web/sites/default/includes
    - tests

  excludePaths:
    - vendor/*
    - node_modules/*
    - ../*/vendor/*
    - ../*/node_modules/*

  # Prefer type checking over docblocks, which can easily become outdated.
  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    -
      # Since tests and data providers do not have to have parameter docblocks,
      # it is not possible to specify the type of the parameter, so we ignore
      # this error.
      message: '#.*no value type specified in iterable type array.#'
      paths:
        - web/modules/custom/*/tests/*
        - web/themes/custom/*/tests/*
        - tests/phpunit/*
      reportUnmatched: false
    -
      # Hook implementations do not provide docblocks for parameters, so there
      # is no way to provide this information.
      message: '#.* with no value type specified in iterable type array#'
      paths:
        - web/modules/custom/*
        - web/themes/custom/*
      reportUnmatched: false
    -
      # Included settings files are not aware about global variables.
      message: '#Variable .* might not be defined.#'
      paths:
        - web/sites/default/includes
      reportUnmatched: false
