<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="mysite">
            <directory>./modules/custom/</directory>
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>
    <!-- Filter for coverage reports. -->
    <filter>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
