@@ -30,6 +30,13 @@
 # Always override existing downloaded DB dump.
 VORTEX_DB_DOWNLOAD_FORCE=1
 
+# Database dump file sourced from FTP.
+
+# Database dump FTP user.
+VORTEX_DB_DOWNLOAD_FTP_USER=
+# Database dump FTP password.
+VORTEX_DB_DOWNLOAD_FTP_PASS=
+
 # GitHub token used to overcome API rate limits or access private repositories.
 # @see https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
 PACKAGE_TOKEN=
