@@ -41,11 +41,6 @@
 # Ignore all recipes by default. Custom recipes should be added explicitly.
 recipes/*
 
-# Ignore all Claude files by default. Custom files should be added explicitly.
-!.claude
-.claude/*
-!.claude/settings.json
-
 # Ignore dependencies cache files.
 /vendor
 /node_modules
