// Example to override a header component.
.site-header {
  &__initial {
    background: $color-primary;
  }

  .site-branding {
    background: $color-primary;
  }

  .sticky-header-toggle {
    background: $color-primary;
  }
}
