##
# Environment variables for local configuration, typically used for secrets
# and individual customizations.
#
# Copy this file to .env.local and provide appropriate values.
#
# The .env.local file is excluded via .gitignore and will not be committed.
#
# @see https://www.vortextemplate.com/docs/workflows/variables

# Local development URL.
# Override only if you need to use a different URL than the default.
# VORTEX_LOCALDEV_URL="<current_dir>.docker.amazee.io"

# Print debug information in Vortex scripts.
# VORTEX_DEBUG=1

# Suppress Ahoy prompts.
# AHOY_CONFIRM_RESPONSE=y

# When Ahoy prompts are suppressed (AHOY_CONFIRM_RESPONSE is 1), the command
# will wait for 3 seconds before proceeding.
# Set this variable to "1" to skip the wait.
# AHOY_CONFIRM_WAIT_SKIP=1

# Always override database on provision.
VORTEX_PROVISION_OVERRIDE_DB=1

# GitHub token used to overcome API rate limits or access private repositories.
# @see https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
PACKAGE_TOKEN=

# Always override existing downloaded DB dump.
VORTEX_DB_DOWNLOAD_FORCE=1
