#:
#: CircleCI 2.0 configuration file.
#:
#: All tasks are located in scripts in `.circleci` directory.
#: This is to allow per-project override for a particular job without
#: the need to modify this configuration file.
#:
#: Understanding CircleCI 'docker' executor.
#:
#: CircleCI uses "runner" container (created from specified Docker image)
#: to checkout source code and run commands defined in this file.
#: Application Docker containers (the ones defined in docker-compose.yml)
#: run on *remote* docker server, started by CircleCI as a part of their stack.
#: The "runner" container uses Docker client to control remote Docker server
#: (when used locally, Docker bundles both client and server into a single
#: "Docker" application, so you may not even know that these are two different
#: services).
#:
#: Because Docker images use layers, it is possible to cache Docker images
#: between builds to significantly speedup application provisioning for each
#: job (it requires enabling of Docker Layer Caching feature in CircleCI by
#: lodging a support request).
#: https://circleci.com/docs/2.0/docker-layer-caching/
#;
#; Comments starting with '#;', '#;<' or '#;>' (like the ones used for the
#; current paragraph) are explaining DrevOps inner working and can be safely
#; removed for your project. They are automatically removed when installing
#; DrevOps.
version: 2
aliases:
  #-----------------------------------------------------------------------------
  # Variables.
  #-----------------------------------------------------------------------------
  #: For YAML support of anchors and references, see http://blog.daemonl.com/2016/02/yaml.html

  # SSH key fingerprint to deploy code. Add private key of the user who is
  # allowed to push to $DEPLOY_GIT_REMOTE repo under "SSH Permissions" in
  # CircleCI UI.
  #;
  #; This is a fingerprint of the key to push DrevOps project itself as an example.
  #; Replace this key fingerprint with your own.
  #; This is the only part in this file that needs to be changed for your project.
  - &deploy_ssh_fingerprint "56:f3:3f:51:c3:8f:b3:75:01:90:6e:26:48:e7:48:e1"

  #: Shared configuration applied to each job.
  - &container_config
    #:
    #: Location of checked-out files within "runner" container.
    working_directory: ~/project
    environment:
      DEPLOY_SSH_FINGERPRINT: *deploy_ssh_fingerprint
    docker:
      #; Using "runner" container where each job will be executed. This container
      #; has all necessary tools to run dockerized environment.
      #; @see https://github.com/integratedexperts/ci-builder
      - image: integratedexperts/ci-builder
        environment:
          # How often to refresh the cache of DB dump. Refer to `date` command.
          DB_TIMESTAMP: +%Y_%m_%d
          # Volumes mounting to host is not supported in CircleCI.
          VOLUMES_MOUNTED: 0
    # Use large resource class for faster builds.
    # Uncomment the line below if your account has this option configured.
    # resource_class: xlarge

  # Step to setup remote docker.
  - &step_setup_remote_docker
    #;< CI_NO_DLC
      setup_remote_docker
    #;> CI_NO_DLC
    #;< CI_DLC
    # Uncomment lines below if your CircleCI plan supports docker layer caching.
    # Docker Layer Caching allows to significantly speed up builds by caching
    # images built during previous runs.
    # @see https://circleci.com/docs/2.0/docker-layer-caching/
    # setup_remote_docker:
    #   docker_layer_caching: true
    #;> CI_DLC

jobs:
  #: Database handling is a first step of the build.
  #:
  #: $DB_TIMESTAMP is used to determine if a fresh DB dump should be downloaded
  #: for the current build. Usually, a daily database dump is sufficient for
  #: development activities.
  #:
  #: Database will be sanitized using standard drush sanitization. You may also
  #: use custom SQL script to add more sanitization steps by putting SQL
  #: statements into scripts/sanitize.sql file.
  #: Set SKIP_SANITIZE_DB variable to '1' to skip sanitization altogether.
  #;< !FRESH_INSTALL
  database:
    <<: *container_config
    steps:
      - attach_workspace:
          at: /workspace
      - checkout
      - *step_setup_remote_docker
      - run:
          name: Set timestamp for database caching
          command: echo "$(date ${DB_TIMESTAMP})" > /tmp/DB_TIMESTAMP && cat /tmp/DB_TIMESTAMP
      - restore_cache:
          keys:
            #:
            #: https://circleci.com/docs/2.0/caching/#restoring-cache
            #:
            #: Change 'v1' to 'v2', 'v3' etc., commit and push to force cache reset.
            #:
            #: Lookup cache based on the current branch and a timestamp. Allows
            #: to cache results of the very first build on the day (sanitized
            #: database dump, for example) and re-use it in all subsequent builds.
            - v1-db7-{{ .Branch }}-{{ checksum "/tmp/DB_TIMESTAMP" }}
            #:
            #: Fallback to caching by branch name. Allows to use cache from the
            #: branch build on the previous day.
            - v1-db7-{{ .Branch }}-
      - run:
          name: Import DB
          command: .circleci/download-db.sh
          no_output_timeout: 20m
      - save_cache:
          key: v1-db7-{{ .Branch }}-{{ checksum "/tmp/DB_TIMESTAMP" }}
          paths:
            - .data
  #;> !FRESH_INSTALL

  #; Build and test is a second step of the build. The testing is performed
  #; within the same job to save time on provisioning during the job.
  build:
    <<: *container_config
    parallelism: 2
    steps:
      - attach_workspace:
          at: /workspace
      - checkout
      - *step_setup_remote_docker
      - restore_cache:
          keys:
            #:
            #: Use cached artifacts from previous builds of this branch ran at
            #: any time.
            #: https://circleci.com/docs/2.0/caching/#restoring-cache
            - v1-db7-{{ .Branch }}-
      - run:
          name: Build site
          command: .circleci/build.sh
          no_output_timeout: 20m
      - run: .circleci/test.sh
      - run:
          name: Process artifacts
          command: .circleci/process-artifacts.sh
          when: always
      - store_artifacts:
          path: /tmp/artifacts
          when: always
      #:
      #: Persisting previously built application code artifact (without
      #: development dependencies) to use it in deployment job.
      - persist_to_workspace:
          root: /workspace
          paths:
            - code

  #;< DEPLOYMENT
  # Deploy primary branches.
  deploy: &job_deploy
    <<: *container_config
    steps:
      #:
      #: Workspace now contains previously built application code artifact.
      - attach_workspace:
          at: /workspace
      #:
      #: Add SSH key into "runner" container to have "push" access to remote
      #: repository.
      - add_ssh_keys:
          fingerprints:
            - *deploy_ssh_fingerprint
      - checkout
      - run:
          #:
          #: https://github.com/integratedexperts/robo-git-artefact
          command: .circleci/deploy.sh
          no_output_timeout: 30m
      - store_artifacts:
          path: /tmp/artifacts

  # Deploy tags.
  deploy_tags: &job_deploy_tags
    <<: *container_config
    steps:
      #:
      #: Workspace now contains previously built application code artifact.
      - attach_workspace:
          at: /workspace
      #:
      #: Add SSH key into "runner" container to have "push" access to remote
      #: repository.
      - add_ssh_keys:
          fingerprints:
            - *deploy_ssh_fingerprint
      - checkout
      - run:
          #:
          #: Override deployment branch to contain tags in the branch name.
          #: https://github.com/integratedexperts/robo-git-artefact
          command: DEPLOY_GIT_BRANCH="deployment/[tags:-]" .circleci/deploy.sh
          no_output_timeout: 30m
      - store_artifacts:
          path: /tmp/artifacts
  #;> DEPLOYMENT
  #;----------------------------------------------------------------------------
  #; DREVOPS development section. Will be removed during installation/update.
  #;----------------------------------------------------------------------------
  #;
  #; We are using CircleCI config file to both run the application tests (what
  #; a consumer site would use) and DrevOps's own tests (to make sure that
  #; this project is "buildable" at any time).
  #;
  #;< DREVOPS
  #; Test suite for DrevOps.
  drevops_test:
    <<: *container_config
    parallelism: 2
    steps:
      - checkout
      - *step_setup_remote_docker
      - run: .circleci/drevops-test.sh

  drevops_test_deployment:
    <<: *container_config
    parallelism: 2
    steps:
      - checkout
      - *step_setup_remote_docker
      - add_ssh_keys:
          fingerprints:
            - *deploy_ssh_fingerprint
      - attach_workspace:
          at: /workspace
      - run:
          name: Run deployment tests (long)
          command: .circleci/drevops-test-deployment.sh
          no_output_timeout: 30m

  # Deployment of feature branches and tags for DrevOps itself.
  drevops_deploy:
    <<: *job_deploy

  drevops_deploy_tags:
    <<: *job_deploy_tags
  #;> DREVOPS

workflows:
  version: 2
  main:
    jobs:
      - database:
          filters:
            tags:
              only: /.*/
      - build:
          #;< !FRESH_INSTALL
          requires:
            - database
          #;> !FRESH_INSTALL
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            branches:
              # Allowed branches:
              # - master, develop, ci, cisomething
              # - release/123, release/123.456, release/123.456.789, release/123.456.789-rc123
              # - hotfix/123, hotfix/123.456, hotfix/123.456.789
              # - feature/description, feature/123-description, but not feature/8.x-description or feature/7.x-description
              only: /master|develop|ci.*|(release\/)?[0-9]+(\.[0-9]+)+(-rc[0-9]+)?|(hotfix\/)?[0-9]+(\.[0-9]+)+(-rc[0-9]+)?|feature\/(?!7.x-|8.x-)[a-zA-z0-9\-\.\,]+/
            tags:
              ignore: /.*/
      - deploy_tags:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              # Allowed tags: 1, 123, 123.456, 123.456.789, 123.456.789-rc123
              only: /^[0-9]+(\.[0-9]+)+(-rc[0-9]+)?$/
      #;----------------------------------------------------------------------------
      #; DREVOPS development section. Will be removed during installation/update.
      #;----------------------------------------------------------------------------
      #;
      #;< DREVOPS
      #; Remove the code below in your project.
      #; Run unit and functional tests for DrevOps.
      - drevops_test:
          filters:
            tags:
              only: /.*/
      #; Run deployment tests for DrevOps.
      - drevops_test_deployment:
          requires:
            - drevops_test
            - build
          filters:
            tags:
              only: /.*/
      #; Run actual deployment of DrevOps code to destination codebase (integration test).
      - drevops_deploy:
          requires:
            - build
            - drevops_test
          filters:
            branches:
              # Allowed branches: 7.x, 8.x, feature/7.x-description, feature/8.x-description
              only: /(?:7|8)\.x|feature\/(?:7|8)\.x[a-zA-z0-9\-\.\,]+/
            tags:
              ignore: /.*/
      #; Run actual deployment of DrevOps code to destination codebase (integration test).
      - drevops_deploy_tags:
          requires:
            - build
            - drevops_test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(?:7|8)\.x\-[0-9]+\.[0-9]+(?:[A-z0-9\-])*$/
      #;> DREVOPS
