@@ -1,10 +1,10 @@
 node_modules/
 vendor/
-web/core/
-web/libraries/
-web/modules/contrib/
-web/profiles/contrib/
-web/themes/contrib/
-web/sites/*/files/
+docroot/core/
+docroot/libraries/
+docroot/modules/contrib/
+docroot/profiles/contrib/
+docroot/themes/contrib/
+docroot/sites/*/files/
 *.min.js
 *.min.css
