.layout-container {
  $max-width: 1200px;

  background: $body-bg;
  margin: 0 auto;
  width: $max-width;

  .region-primary-menu {
    background: darken($body-bg, 30%);
  }

  .region-secondary-menu {
    background: darken($body-bg, 20%);
  }

  main {
    display: flex;

    .layout-content{
      order: 2;
      width: $max-width / 3 * 2;
    }

    .layout-sidebar-first {
      order: 1;
      width: $max-width / 3 * 1;
    }
  }
}
