@@ -34,10 +34,6 @@
 recipes/*
 !recipes/page
 
-# Ignore all Claude files by default. Custom files should be added explicitly.
-.claude/*
-!.claude/settings.json
-
 # Dependencies.
 /vendor
 /node_modules
