.mermaid {
  text-align: center;
}

.md-nav__item--section > .md-nav > .md-nav__list > .md-nav__item {
  padding-left: 0.9rem;
}

.md-nav__item--section > .md-nav > .md-nav__list > .md-nav__item > .md-nav > .md-nav__list > .md-nav__item {
  padding-left: 0.9rem;
}

[data-md-color-scheme="default"] img[src$="#only-dark"] {
  display: none !important;
}

[data-md-color-scheme="slate"] img[src$="#only-light"] {
  display: none !important;
}

.md-typeset h1.hero-title {
  text-align: center;
  margin-left: 50px;
  margin-bottom: 0.5em;
}

.hero-title img {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.hero-title span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

[data-md-color-scheme="default"] .hero-title {
  color: black;
}

[data-md-color-scheme="slate"] .hero-title {
  color: white;
}

[dir=ltr] .md-header__title {
  margin-left: 0;
}

.md-header--lifted,
.md-header--shadow {
  background-image: linear-gradient(120deg, #13123c, #243052);
}

[data-md-color-scheme="default"] .md-tabs {
  background-image: linear-gradient(120deg, #232273, #4862aa);
}

[data-md-color-scheme="slate"] .md-tabs {
  background-image: linear-gradient(120deg, #232273, #4862aa);
}

/* Mobile logo. */
.md-sidebar .md-nav__button.md-logo img {
  margin-left: auto;
  margin-right: auto;
}

.md-tabs__link {
  font-size: .8rem;
  opacity: 1;
}

.md-tabs__item--active .md-tabs__link {
  font-weight: bold;
}
