@@ -32,3 +32,8 @@
 
 # Always override existing downloaded DB dump.
 VORTEX_DB_DOWNLOAD_FORCE=1
+
+# Database dump file sourced from Lagoon.
+
+# SSH file used to download the database dump from Lagoon. Defaults to "${HOME}/.ssh/id_rsa}".
+# VORTEX_DB_DOWNLOAD_SSH_FILE=
