@@ -35,21 +35,14 @@
 !.stylelintrc.js
 !.twig-cs-fixer.php
 !auth.json
-!behat.yml
 !composer.json
 !composer.lock
-!gherkinlint.json
 !jest.config.js
 !package-lock.json
 !package.json
 !patches
 !patches.lock.json
-!phpcs.xml
-!phpmd.xml
-!phpstan.neon
-!phpunit.xml
 !postcss.config.js
-!rector.php
 !scripts
 !tests
 !yarn.lock
