@use "../variables";

// Example to override a header component.
.site-header {
  &__initial {
    background: variables.$color-primary;
  }

  .site-branding {
    background: variables.$color-primary;
  }

  .sticky-header-toggle {
    background: variables.$color-primary;
  }
}
