<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="false"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true">
    <testsuites>
        <testsuite name="default">
            <directory>phpunit/Functional</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>phpunit/Unit</directory>
        </testsuite>
    </testsuites>
    <!-- The traits carry '@codeCoverageIgnore' so that they do not weigh on a
         consumer site's own coverage; this suite measures them directly. -->
    <coverage disableCodeCoverageIgnore="true"/>
    <source restrictNotices="true"
            restrictWarnings="true"
            ignoreIndirectDeprecations="true">
        <include>
            <directory>../../web/modules/custom/ys_base/tests/src/Traits</directory>
        </include>
        <exclude>
            <directory>phpunit</directory>
        </exclude>
    </source>
   <logging>
        <junit outputFile=".logs/junit.xml"/>
    </logging>
</phpunit>
