name: Draft release notes

on:
  push:
    tags:
      - '*'
    branches:
      - develop
      #;< VORTEX_DEV
      - main
      #;> VORTEX_DEV

permissions:
  contents: write

jobs:
  release-drafter:
    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Load environment variables from .env
        run: t=$(mktemp) && export -p >"${t}" && set -a && . ./.env && set +a && . "${t}" && env >> "$GITHUB_ENV"
        env:
          VORTEX_RELEASE_VERSION_SCHEME: ${{ vars.VORTEX_RELEASE_VERSION_SCHEME || 'calver' }}

      - name: Generate CalVer version
        if: ${{ contains(env.VORTEX_RELEASE_VERSION_SCHEME, 'calver') }}
        id: calver
        run: |
          export VERSION="$(date "+%y.%-m").0"
          echo "version=${VERSION}" >> "${GITHUB_OUTPUT}"
          echo "Version set to ${VERSION}"

      - name: Draft release notes
        uses: release-drafter/release-drafter@267d2e0268deae5d44f3ba5029dd4d6e85f9d52d # v6
        with:
          tag: ${{ steps.calver.outputs.version }}
          name: ${{ steps.calver.outputs.version }}
          version: ${{ steps.calver.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
