# Self-hosted dependency updates.
#
# Add the following environment variables to the GitHub actions project:
# - RENOVATE_TOKEN: GitHub access token.
# - RENOVATE_GIT_AUTHOR: Author for Renovate commits as `Name <email@example.com>`.
# Variables provided below can be overridden in the GitHub project settings.
#
# This workflow can be run manually to initiate immediate updates.
# An additional flag can be set to preserve the configured schedules and skip
# updates if they are not due. This allows to replicate automated scheduled runs.
name: Update dependencies

on:
  schedule:
    - cron: '45 11,23 * * *'
  workflow_dispatch:
    inputs:
      preserve_schedules:
        description: 'Use defined schedules and skip updates if they are not due.'
        required: false
        default: false
        type: boolean

jobs:
  update-dependencies:
    runs-on: ubuntu-latest

    steps:
      - name: Check requirements
        id: check-requirements
        run: |
          if [ -z "${{ secrets.RENOVATE_TOKEN }}" ]; then
            echo "Renovate token is not set. Skipping job."
            exit 0
          fi

          if [ -z "${{ vars.RENOVATE_GIT_AUTHOR }}" ]; then
            echo "Renovate git author is not set. Skipping job."
            exit 0
          fi

          echo "should_run=true" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22.17.1

      - name: Process manual trigger
        if: github.event_name == 'workflow_dispatch' && inputs.preserve_schedules == false
        run: jq 'walk(if type == "object" then del(.schedule) else . end)' renovate.json > renovate.tmp.json && mv -f renovate.tmp.json renovate.json

      - name: Show Renovate configuration
        run: cat renovate.json

      - name: Validate Renovate configuration
        uses: suzuki-shunsuke/github-action-renovate-config-validator@ca480cb7ec89a9e1cd8c214ad33bda1617184027 # v2.0.0

      - name: Run Renovate
        if: steps.check-requirements.outputs.should_run == 'true'
        uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_PLATFORM: 'github'
          RENOVATE_AUTODISCOVER: false
          RENOVATE_REPOSITORIES: ${{ vars.RENOVATE_REPOSITORIES || github.repository }}
          RENOVATE_DEPENDENCY_DASHBOARD_TITLE: 'Renovate Dependency Dashboard (self-hosted) by GitHub Actions'
          RENOVATE_DEPENDENCY_DASHBOARD: ${{ vars.RENOVATE_DEPENDENCY_DASHBOARD || 'false' }}
          RENOVATE_DRY_RUN: ${{ vars.RENOVATE_DRY_RUN || 'false' }}
          RENOVATE_GIT_AUTHOR: ${{ vars.RENOVATE_GIT_AUTHOR }}
          LOG_LEVEL: 'debug'
