# This action is used for Vortex maintenance. It will not be used in the scaffolded project.
name: Vortex - Test installer

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
      - 'feature/**'
      - 'bugfix/**'

jobs:
  vortex-test-installer:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.2', '8.3', '8.4']

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup PHP
        uses: shivammathur/setup-php@20529878ed81ef8e78ddf08b480401e6101a850f # v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: pcov
          ini-values: pcov.directory=.

      - name: Set default branch name
        run: git config --global init.defaultBranch >/dev/null || git config --global init.defaultBranch "main"

      - name: Install dependencies
        run: composer install
        working-directory: .vortex/installer

      - name: Validate Composer configuration is normalized
        run: composer normalize --dry-run
        working-directory: .vortex/installer

      - name: Check coding standards
        run: composer lint
        working-directory: .vortex/installer

      - name: Run tests
        run: composer test-coverage
        working-directory: .vortex/installer
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGE_TOKEN }}

      - name: Upload coverage reports as an artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: ${{github.job}}-code-coverage-report-${{ matrix.php-versions }}
          path: .vortex/installer/.logs
          include-hidden-files: true
          if-no-files-found: error

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@fdcc8476540edceab3de004e990f80d881c6cc00 # v5
        with:
          files: .vortex/installer/.logs/cobertura.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

      # Smoke test for PHAR.
      - name: Build PHAR
        run: composer build
        working-directory: .vortex/installer

      - name: Test PHAR
        run: ./build/installer.phar --no-interaction example || exit 1
        working-directory: .vortex/installer
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
