# This action is used for Vortex maintenance. It will not be used in the scaffolded project.
name: Vortex - Test docs

on:
  push:
    tags:
      - '**'
    branches:
      - '**'

jobs:
  vortex-test-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2

      - name: Check docs up-to-date
        run: |
          composer --working-dir=.utils install
          npm run update-variables
          git diff --quiet HEAD || { echo "Docs not up-to-date. Run 'cd .vortex && ahoy update-docs' and commit changes."; git diff; exit 1; }
        working-directory: '${{ github.workspace }}/.vortex/docs'

      - name: Install dependencies
        run: npm install
        working-directory: '${{ github.workspace }}/.vortex/docs'

      - name: Build documentation site
        run: npm run build
        working-directory: '${{ github.workspace }}/.vortex/docs'

      - name: Run tests
        run: npm run test
        working-directory: '${{ github.workspace }}/.vortex/docs'

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          publish-dir: '.vortex/docs/build'
          production-branch: develop
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: true
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_SITE_ID: ${{ secrets.DOCS_NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.DOCS_NETLIFY_AUTH_TOKEN }}
        timeout-minutes: 1
